#page-index {
    h1 span[lang=en] {
        font-family: @UITitleFontFamily;
        font-weight: 300;
        color: #666;
        font-size: 22px;
    }
    
    h1 span[lang=ja] {
        font-family: @JapaneseTitleFontFamily;
        font-weight: 400;
        color: #222;
        font-size: 44px;
        line-height: 80px;
    }
}