h1 span[lang=en] {
    font-family: "Myriad Pro";
    font-weight: 300;
    color: #666;
    font-size: 22px;
}

h1 span[lang=jp] {
    font-family: "M+ 1c";
    font-weight: 400;
    color: #222;
    font-size: 44px;
    line-height: 80px;
}