.kana-row {
    border-top: 1px solid #ccc;
    margin: 10px 0;
    padding: 20px 10px;
}
.kana-row:first-child {
    padding-top: 0;
    border: 0;
}

.kana-row-head {
    float: left;
    padding-top: 20px;
    margin: 10px 24px 0 16px;
}
.kana-row-head .kana-char {
    font-size: 32px;
    line-height: 32px;
    padding: 10px;
    font-weight: bold;
    font-family: "Hiragino Kaku Gothic ProN", "Kochi Gothic", Meiryo, "MS Gothic", sans-serif;
    border-radius: 10px;
    background-color: #aaa;
    color: #fff;
    float: left;
}
.kana-row-head .kana-alpha {
    font-size: 22px;
    line-height: 42px;
    color: #777;
}

.kana-item {
    float: left;
    width: 68px;
}
.dup {
    color: #aaa;
}
.kana-item .kana-char {
    font-size: 36px;
    line-height: 60px;
    font-family: "Kozuka Mincho Pr6N", "Hiragino Mincho ProN", "Kochi Mincho", "MS Mincho", serif;
}

#content p {
    margin: 0;
}