.kana-item {
    float: left;
    width: 80px;
}
.kana-char {
    font-size: 32px;
    line-height: 60px;
    font-family: "Kozuka Mincho Pr6N", "Hiragino Mincho ProN", "Kochi Mincho", "MS Mincho", serif;
}
.kana-row {
    border-top: 1px solid #ccc;
    margin: 10px 0;
    padding: 20px 10px;
}
.kana-row:first-child {
    padding-top: 0px;
    border: 0;
}