.kana-item {
    float: left;
    width: 80px;
}
.kana-char {
    font-size: 32px;
    font-family: "Kozuka Mincho Pr6N", "Hiragino Mincho ProN", "MS Mincho", serif;
}
.kana-row {
    border-top: 1px solid #ccc;
    margin: 10px 0;
    padding: 20px 10px;
}