html {
  background-color: #efefef;
  padding: 40px;
}
body {
  width: 500px;
  padding: 20px;
  margin: auto;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Ubuntu, "DejaVu Sans", Verdana, "Hiragino Kaku Gothic ProN", "Kochi Gothic", Meiryo, "MS Gothic" sans-serif;
}
#content {
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
  padding: 20px;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
a {
  text-decoration: none;
}
button {
  font-size: 20px;
  line-height: 23px;
  border: 1px solid #ccc;
  background-image: -webkit-linear-gradient(top, #e8e8e8, #d1d1d1);
  border-top: 1px solid #b0b0b0;
  border-right: 1px solid #a3a3a3;
  border-bottom: 1px solid #999999;
  border-left: 1px solid #a3a3a3;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25), 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  /*#b3b3b3*/

  text-shadow: 0 0px 1px rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 7px 15px;
  margin: 0 3px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Ubuntu, "DejaVu Sans", Verdana, "Hiragino Kaku Gothic ProN", "Kochi Gothic", Meiryo, "MS Gothic" sans-serif;
}
button:active {
  top: 1px;
}
button.blue {
  background-image: -webkit-linear-gradient(top, #52a8e8, #377ad0);
  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
}
button.green {
  background-image: -webkit-linear-gradient(top, #b6e53e, #85cc21);
  border-top: 1px solid #92b041;
  border-right: 1px solid #7aa32e;
  border-bottom: 1px solid #679920;
  border-left: 1px solid #7aa32e;
}
button.red {
  background-image: -webkit-linear-gradient(top, #e85151, #d14b36);
  border-top: 1px solid #b04143;
  border-right: 1px solid #a3362e;
  border-bottom: 1px solid #993020;
  border-left: 1px solid #a3362e;
}
button.blue:not(.active):not(.not-active):not(.text):hover {
  background-image: -webkit-linear-gradient(top, #3e9ee5, #206bcb);
}
button.green:not(.active):not(.not-active):not(.text):hover {
  background-image: -webkit-linear-gradient(top, #acd93b, #7cbf1f);
}
button.red:not(.active):not(.not-active):not(.text):hover {
  background-image: -webkit-linear-gradient(top, #e53e3e, #cc3721);
}
.control {
  margin: 0;
  padding: 3px 12px;
  font-size: 13px;
  line-height: 15px;
  position: static;
  float: left;
}
.control-mid {
  border-radius: 0;
  border-left: 0 !important;
}
.control-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.control-right {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: 0 !important;
  margin-right: 10px;
}
.control.active {
  font-weight: bold;
}
.control.not-active {
  color: #e0e0e0;
}
.control.not-active:hover {
  color: #f6f6f6;
}
#select button {
  min-width: 70px;
}
#nav {
  margin-top: 0;
}
#nav a {
  color: #666;
  padding: 3px 12px;
  border-radius: 13px;
}
#nav a:not(.current):hover {
  background-color: #fafafa;
}
#nav a.current {
  background-color: #888;
  color: #fff;
  margin-right: 5px;
}
#nav a.current:not(:first-child) {
  margin-left: 5px;
}
#pref p {
  margin: 0;
}
#pref-range button {
  padding: 3px 6px;
}
#pref-range button.control-mid {
  padding: 3px 9px;
  cursor: auto !important;
}
#page-index h1 span[lang=en] {
  font-family: "Myriad Pro", "Segoe UI", sans-serif;
  font-weight: 300;
  color: #666;
  font-size: 22px;
}
#page-index h1 span[lang=ja] {
  font-family: "M+ 1c", "Hiragino Kaku Gothic ProN", "Kochi Gothic", Meiryo, "MS Gothic", sans-serif;
  font-weight: 400;
  color: #222;
  font-size: 44px;
  line-height: 80px;
}
#page-chart .kana-row {
  border-top: 1px solid #ccc;
  margin: 10px 0;
  padding: 20px 10px;
}
#page-chart .kana-row:first-child {
  padding-top: 0;
  border: 0;
}
#page-chart .kana-row-head {
  float: left;
  padding-top: 20px;
  margin: 10px 24px 0 16px;
}
#page-chart .kana-row-head .kana-char {
  font-size: 32px;
  line-height: 32px;
  padding: 10px;
  font-weight: bold;
  font-family: "Hiragino Kaku Gothic ProN", "Kochi Gothic", Meiryo, "MS Gothic", sans-serif;
  border-radius: 10px;
  background-color: #aaa;
  color: #fff;
  float: left;
}
#page-chart .kana-row-head .kana-alpha {
  font-size: 22px;
  line-height: 42px;
  color: #777;
}
#page-chart .kana-item {
  float: left;
  width: 68px;
}
#page-chart .youon .kana-item {
  width: 100px;
}
#page-chart .dup {
  color: #aaa;
}
#page-chart .kana-item .kana-char {
  font-size: 36px;
  line-height: 60px;
  font-family: "Kozuka Mincho Pr6N", "Hiragino Mincho ProN", "Kochi Mincho", "MS Mincho", serif;
}
#page-chart #content p {
  margin: 0;
}
#page-test {
  width: 523px;
}
#page-test #counter {
  display: none;
  color: #666;
  padding-top: 4px;
  float: right;
  font-size: 15px;
  line-height: 15px;
}
#page-test #counter-ac {
  color: #679920;
}
#page-test #kana[lang=ja] {
  font-size: 180px;
  line-height: 180px;
  color: #333;
  margin: 120px 0 90px 0;
  font-family: "Kozuka Mincho Pr6N", "Hiragino Mincho ProN", "Kochi Mincho", "MS Mincho", serif;
}
#page-test #kana[lang=en] {
  font-size: 190px;
  line-height: 190px;
  color: #333;
  margin: 100px 0 100px 0;
  font-family: "Gill Sans", Ubuntu, "Segoe UI", "Lucida Sans Unicode", Verdana, sans-serif;
}
#page-vocabulary {
  width: 540px;
}
#page-vocabulary #link {
  font-family: "Hiragino Kaku Gothic ProN", "Kochi Gothic", Meiryo, "MS Gothic", sans-serif;
  font-size: 18px;
  margin: 16px 0 0 0;
  text-align: center;
}
#page-vocabulary #link a {
  margin: 0 2px;
  color: #666;
}
#page-vocabulary #link a:hover {
  color: #000;
}
#page-vocabulary .vocabulary-row {
  border-top: 1px solid #ccc;
  margin: 10px 0;
  padding: 20px 10px;
  text-align: left;
}
#page-vocabulary .title {
  float: left;
  font-family: "Hiragino Kaku Gothic ProN", "Kochi Gothic", Meiryo, "MS Gothic", sans-serif;
  padding: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin: 0 28px 0 0;
  color: #999;
}
#page-vocabulary .title p {
  padding: 10px;
  margin: 0;
}
#page-vocabulary .title p:first-child {
  border-radius: 10px;
  background-color: #aaa;
  color: #fff;
  margin-bottom: 5px;
}
#page-vocabulary .vocabulary {
  float: left;
}
#page-vocabulary .vocabulary p {
  margin: 0;
}
#page-vocabulary .vocabulary .kana {
  font-family: Georgia, "Kozuka Mincho Pr6N", "Hiragino Mincho ProN", "Kochi Mincho", "MS Mincho", serif;
  color: #444;
  font-size: 32px;
  line-height: 64px;
  margin-right: 5px;
  border-bottom: 1px dashed #bbb;
  cursor: pointer;
}
#page-vocabulary .vocabulary .kana:not(.active):hover {
  color: #222;
  border: 0;
}
#page-vocabulary .vocabulary .kana.active {
  color: #000;
  border: 0;
  cursor: auto;
}
#page-vocabulary .vocabulary .meaning {
  font-size: 20px;
  color: #ccc;
  margin-right: 7px;
}
#page-vocabulary .vocabulary .latin {
  cursor: pointer;
  color: #666;
  border-bottom: 1px dashed #bbb;
}
#page-vocabulary .vocabulary .latin:not(.active):hover {
  color: #444;
  border: 0;
}
#page-vocabulary .vocabulary .latin.active {
  font-size: 20px;
  color: #666;
  border: 0;
  cursor: auto;
}
#page-vocabulary .more {
  border-radius: 12px;
  font-size: 14px;
  line-height: 14px;
  background-color: #ccc;
  color: #fff;
  padding: 5px 15px;
  float: left;
  cursor: pointer;
}
#page-vocabulary .more:hover {
  background-color: #bbb;
}
